In [7]:
import pandas as pd

Location ='titanic3.xls'
df = pd.read_excel(Location)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [26]:
total_passengers = len(df)

total_women =len(df[df['sex'] == "female"])
total_men = len(df[df['sex'] == "male"])
total_survived = len(df[df['survived'] == 1])
total_unsurvived = len(df[df['survived'] == 0])
total_over18 = len(df[df['age'] > 18])
total_under18 = len(df[df['age'] <= 18])
total_firstclass =len(df[df["pclass"] == 1])
total_secondclass =len(df[df["pclass"] == 2])
total_thirdclass =len(df[df["pclass"] == 3])

In [27]:
########## Probability that a boy in 2nd class could survive. ###############

men_survived = len(df[(df['sex'] == 'male') & (df['survived'] == 1)])
kid_survived = len(df[(df['age'] <=18) & (df['survived'] == 1)])
middle_survived = len(df[(df['pclass'] == 2) & (df['survived'] == 1)])

## We need 4 values of probability for Bayes' formula.
## Probability of men's surviving
p_men_survived = men_survived / total_survived
print(p_men_survived)

## Probability of children's surviving
p_kid_survived = kid_survived / total_survived
print(p_kid_survived)

## Probability of people's in the 2nd class surviving 
p_middle_survived = middle_survived / total_survived
print(p_middle_survived)

## Probability 
p_survived = total_survived / total_passengers
print(p_survived)

0.322
0.19
0.238
0.3819709702062643

In [28]:
########## Probability that a women in 3rd class could survive. ###############

women_survived = len(df[(df['sex'] == 'female') & (df['survived'] == 1)])
adult_survived = len(df[(df['age'] > 18) & (df['survived'] == 1)])
third_survived = len(df[(df['pclass'] == 3) & (df['survived'] == 1)])

## We need 4 values of probability for Bayes' formula.
## Probability of women's surviving
p_women_survived = women_survived / total_survived
print(p_women_survived)

## Probability of adults' surviving
p_adult_survived = adult_survived / total_survived
print(p_adult_survived)

## Probability of people's in the 3rd class surviving 
p_third_survived = third_survived / total_survived
print(p_third_survived)

## Probability 
p_survived = total_survived / total_passengers
print(p_survived)

0.678
0.664
0.362
0.3819709702062643

In [16]:
########## Probability that a man in 1st class could survive. ###############

men_survived = len(df[(df['sex'] == 'male') & (df['survived'] == 1)])
adult_survived = len(df[(df['age'] > 18) & (df['survived'] == 1)])
first_survived = len(df[(df['pclass'] == 1) & (df['survived'] == 1)])

## We need 4 values of probability for Bayes' formula.
## Probability of men's surviving
p_men_survived = men_survived / total_survived
print(p_men_survived)

## Probability of adults' surviving
p_adult_survived = adult_survived / total_survived
print(p_adult_survived)

## Probability of people's in the first class surviving 
p_first_survived = first_survived / total_survived
print(p_first_survived)

## Probability 
p_survived = total_survived / total_passengers
print(p_survived)

0.322
0.664
0.4
0.3819709702062643

In [29]:
## Define the function we need to practice 'def' function.

def prob_survived(sex,pclass,age,survived) :
    return sex*pclass*age*survived


##  P(survived∣ male, kid, 2nd class)=P(male∣ survived) * P(kid∣ survived) * P(2nd∣ survived) *P(survived)
print(prob_survived(p_men_survived, p_kid_survived, p_middle_survived, p_survived))

##  P(survived∣ female, adult, 3rd class)=P(female∣ survived) * P(adult∣ survived) * P(3rd∣ survived) *P(survived)
print(prob_survived(p_women_survived, p_adult_survived, p_third_survived, p_survived))


##  P(survived∣ male, adult, 1st class)=P(male∣ survived) * P(adult∣ survived) * P(1st∣ survived) *P(survived)
print(prob_survived(p_men_survived, p_adult_survived, p_first_survived, p_survived))

0.005561818181818182
0.062249619556913674
0.03266737967914439

### The conclusion is that the probability of women's in 3rd class surviving has the highest value, 0.062. Therefore, women in 3rd class are more likely to survive.